h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 400px;
    display: block;
    flex-direction: column;
}

img {
    width: 100%;
    background-color: #000;
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}