:root {
    --primary-color: #002d62;
    --secondary-color: #ce1126;
    --accent-color: #FFFFFF;
    --text-color: #222222;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--text-color);
    background-color: var(--accent-color);
    margin: 0;
}

header {
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    padding: 1rem;
}

h2 {
    color: var(--secondary-color);
    padding: 1rem;
}

.data span {
    font-weight: bold;
}

.weather span {
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
}

.data, .weather {
    padding: 1rem;
    background-color: #f5f5f5;
    border-top: px solid var(--secondary-color);
    margin: 1rem;
    padding: 1rem;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.data p, .weather p {
    margin: 0.75rem 0;
}

footer {
    text-align: center;
    margin-top: auto;
}

@media screen and (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: 220px 600px 220px;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        padding: 2rem 1rem;
    }


    .hero {
        grid-column: 2;
        grid-row: 1;
    }

    .data {
        grid-column: 1;
        grid-row: 1;
    }

    .weather {
        grid-column: 3;
        grid-row: 1;
    }

    .weather h2::after {
        content: "⛅";
        margin-left: 0.5rem;
    }

    .weather img {
        display: none;
    }
}